/* ================================================================= */
/* combo box style */
/* ================================================================= */

.jfx-combo-box {
  -fx-prompt-text-fill: #acadb3;
  -jfx-focus-color: #ec6fec;
  -fx-font-size: 16px;
  -fx-font-family: "Times New Roman";
  -fx-font-weight: bold;
}

.jfx-combo-box .text-field {
  -fx-text-fill: #18dcdc;
}
/* ================================================================= */
/* combo box list view style */

.jfx-combo-box .list-cell {
  -fx-background-color: transparent;
  -fx-text-fill: linear-gradient(
    to right top,
    #f8f4f4,
    #e7e5e5,
    #d3d4d4,
    #e2eaec,
    #f1fbfa
  );
}

.jfx-combo-box .list-view {
  -fx-background-color: rgba(9, 10, 19, 0.295);
  -fx-text-fill: linear-gradient(
    to right top,
    #f8f4f4,
    #e7e5e5,
    #d3d4d4,
    #e2eaec,
    #f1fbfa
  );
}

.jfx-combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
  -fx-fill: #18dcdc;
}

.jfx-combo-box .arrow,
.choice-box .arrow {
  -fx-background-color: Pink;
}

/* ================================================================= */
/* combo box scroll bar style */

.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

.scroll-bar:horizontal *.increment-button,
.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.scroll-bar:horizontal *.increment-arrow,
.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

/* ================================================================= */
/* text field style */
/* ================================================================= */

.jfx-text-field {
  -fx-prompt-text-fill: #acadb3;
  -jfx-focus-color: #ec6fec;
  -fx-text-fill: #18dcdc;
  -fx-font-size: 16px;
  -fx-font-family: "Times New Roman";
  -fx-font-weight: bold;
}

/* ================================================================= */
/* text field style */
/* ================================================================= */

.toggle-button {
  -fx-prompt-text-fill: #acadb3;
  -jfx-focus-color: #8d1f8d;
  -fx-text-fill: rgb(44, 24, 160);
  -fx-font-family: "Arial Black";
  -fx-font-weight: 900;
  -fx-font-size: 20px;
  -jfx-toggle-button: #009688;
  -jfx-toggle-line-color: #77c2bb;
  -jfx-untoggle-color: #f77e7e;
  -jfx-untoggle-line-color: #f2e2e2;
  -jfx-size: 12;
  
}

.toggle-button .text-field{
  -fx-background-color: rgba(0, 0, 0, 0.3);
}
