/* ================================================================= */
/* Hamburger styling */
/* ================================================================= */

.jfx-hamburger-icon {
  -fx-spacing: 2;
  -fx-background-color: linear-gradient(
    to top,
    #fba8f8,
    #eda3f6,
    #de9ef4,
    #cf99f1,
    #bf94ee
  );
  -fx-background-radius: 5px;
}

.jfx-hamburger StackPane {
  -fx-background-color: #2f3455;
  -fx-background-radius: 3px;
}


/* ================================================================= */
/* background color for global app */
/* ================================================================= */

.background-app {
    -fx-background-image: url("../resource/background3.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1080 720;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
